{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "max-len": [2, 128, 4, {
      "ignoreComments": false,
      "ignorePattern": "^\\s*(const|let|var)\\s+\\w+\\s+\\=\\s+\\/.*\\/(|i|g|m|ig|im|gm|igm);?$",
      "ignoreUrls": true
    }],
    "no-mixed-operators": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-continue": 0,
    "react/jsx-filename-extension": 0,
    "react/no-find-dom-node": 0,
    "react/forbid-foreign-prop-types": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0
  },
  "globals": {
    "window": true
  }
}
